<div class="subscribe">
  <div class="subscribe-cue">Enjoy the newsletter? Subscribe!</div>
  <div class="subscribe-form">
    <form action="//livecode.us7.list-manage.com/subscribe/post?u=8404b344b09103bf489dd8a9a&amp;id=33ec518a71" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_8404b344b09103bf489dd8a9a_33ec518a71" tabindex="-1" value=""></div>

     <div id="mc_embed_signup_scroll">
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email address" required>
     <input type="submit" value="Subscribe!" name="subscribe" id="mc-embedded-subscribe" class="button">
     </div>

     <div class="subscribe-form-help">Receive a weekly newsletter, every Monday, direct to your inbox. Or get it <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.
     </div>
  </form>
  </div>
</div>
